/*////////////////////////////////
	    P A G E  R E S A 
////////////////////////////////*/
#content.reservation {
	padding-top: 50px;
	padding-bottom: 50px;
	.sidebar {
		background: white;
		padding: 20px;
		.salon-bloc {
			a:first-child {
				display: block;
				width: 100%;
				max-height: 185px;
				overflow: hidden; 

				img {
					max-height: 185px;
					width: auto; min-width: 100%;
					margin: 0 auto;
				}
			}
			.address-bloc {margin-top: 20px;}
		}
		.promo {
			margin-top: 20px; margin-bottom: 20px;
			margin-left: -20px;

			p {color: @promo-color;}
		}
		div:last-child {
			p {
				font-weight: @light;
				font-size: 1.4em;
				color: #848b95;
				line-height: 20px;
			}
			div {
				padding: 20px;
				border:1px solid #c9c9c9;
				h3 {
					color: #848b95;
					font-size: 1.6em;
					margin: 0;
				}
				ul {
					margin-top: 10px;
					li {
						font-size: 1.6em;
						padding-left: 15px;
					}
				}
			}
		}
	}
}